body{
    background-image: url('../imgFolder/bg-test.png');
    background-size: cover;
    height: 50vh; /* странно почему не 100*/
    background-repeat: no-repeat;

}
a{
    color: #fff;

}
a:hover{
    text-decoration: none;

}
.container_auth{
    width: 450px;
    height: auto;
    background-color: rgba(24,33,52,0.7);
    margin: 200px auto 0 auto;
    text-align: center;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 10px;
}
.container_auth form{
    margin-top: 50px;
}

input[type="text"],input[type="password"],input[type="email"]{
    width: 300px;
    height: 50px;
    font-size: 18px;
    margin-bottom: 25px;
    border-radius: 4px;
    padding-left: 10px;


}
.auth_submit{
    padding: 13px 30px;
    margin: 5px 0 5px 0;
    font-size: 15px;
    color: #fff;
    background-color: #2ca8c6;
    border: none;
    border-bottom: 4px solid silver;

}
.auth_submit:hover{
    transition: all 0.5s;
    background: #fff;
    color: #2c536c;

}