*{
    margin: 0;
    padding: 0;
    list-style: none;

}

html{
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 16px;

}

/*font-family: 'Merriweather', serif;
font-family: 'PT Sans Caption', sans-serif;*/

a{
    text-decoration: none;
}


/*========================================HEADER=============================================*/
header{
    background: black;
    background-image: url("../imgFolder/bg-test.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-weight: normal;
    position: relative;

}

.wrap-head{
    display: flex;
    top: 0;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
    width:98%;
    position: absolute;
    align-items: center;
    height: 10vh;
    padding: 1%;

}
nav ul li {
display: inline;
    margin-left: 30px ;
}
nav>ul>li>a{
    font-weight: normal;
    color: white;
}
nav>ul>li>a:hover{
    border-bottom: 2px solid orange;
}

.header-title{
    font-size: 46px;
    margin-bottom: 30px;
    margin-top: -50px;


}
.scroll-arrow{
    font-size: 45px;
    position: absolute;
    bottom: 50px;

}
.scroll-arrow a {
    color: white;
    transition: 1s; 
}
.scroll-arrow a:hover{
    color: orange;
}
/*=======================================//HEADER//===========================================*/


/*-----------------------------------------MAIN ARTICLE---------------------------------*/
article{
    width: 98%;
    min-height: 600px;
   /* background: rgba(49, 117, 153, 0.07);*/
    border-bottom: 1px solid rgba(192, 192, 192, 0.17);
    display: flex;
    padding: 1%;
    justify-content: center;
    flex-direction: column;
    background: url("../imgFolder/texture1.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

/*.art1,.art2{
    justify-content: center;
    flex-direction: column;
}*/
.art1>.head_text {
    padding: 1%;
    color: #ffffff;
    background-color: rgba(0,0,0,0.7);
    margin-top: 50px;
    text-align: center;
    font-size: 40px;

}
span{
    font-weight:bold;
}
.wrap_art_text{
    display: flex;
    justify-content: center;
    flex-direction: row;

}
.art_img1{

    margin-left: 5%;
    margin-top: 50px;
    min-width: 350px;
    height: 480px;

    background-image: url("../imgFolder/photo/1.jpg");
    background-size: cover;
    box-shadow: 0 3px 20px rgba(0,0,0,.25);

}
.up_button{
    display: flex;
    margin-top: 110px;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 60px;
    background-color: black;


}
.up_button a{
    color: white;
}
.up_button a:hover{
    color: orange;
}
.wrap-img{
    margin-left: 5%;
}
.wrap-img>.art_img2{


    min-width: 350px;
    height: 340px;
    background-image: url("../imgFolder/photo/2.jpg");
    background-size: cover;

}
.wrap-img>.art_img3 {

    margin-top: 20px;
    min-width: 350px;
    height: 350px;
    background-image: url("../imgFolder/photo/3.png");
    background-size: cover;

}
.art_img4{
    margin-top: 20px;
    min-width: 350px;
    height: 384px;
    background-image: url("../imgFolder/photo/4.jpg");
    background-size: cover;
}
.shad{
    box-shadow: 0 3px 20px rgba(0,0,0,.45);
}

.article_text_main{
    margin-left: 3%;
    margin-top: 35px;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.9);
    padding:1%;

/*  border-bottom: 2px solid black;
    border-top: 2px solid black;*/
}
.article_text{
    padding:1%;
    margin-left: 3%;
    margin-top: -15px;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.9);

/*  border-bottom: 2px solid black;
    border-top: 2px solid black;*/
}
.article_text3{

    margin-left: 3%;
    margin-top: -60px;
    max-width: 700px;


}
.last_text{
    display: flex;
    justify-content: center;
}
.article_text2{
    margin-left: 5%;
    max-width: 1110px;
    background: rgba(255, 255, 255, 0.2);

/*  border-bottom: 2px solid black;
    border-top: 2px solid black;*/
}

p{
    line-height: 1.5;
    margin-top: 15px;
}

.article_text_main>p>a:visited{
    color: blue;
}
.article_text_main>p>a:hover{
    color: orange;
    text-decoration: underline orange;
}
/*---------------------------------------//MAIN ARTICLE//-------------------------------*/



/*==========================FOOTER+++++++++++++++++++++++++++++*/
footer{
    display: flex;
    width: 100%;
    height: 200px;
    background-color: black;
}
